tensorflow
pandas
patsy
scipy
imblearn
statsmodels
pyproj
geojson
matplotlib
shapely
folium
geopandas
seaborn
plotly
pygeoj
swifter
openpyxl
findspark
pyathena
pyspark==3.1.2
plotly
pyproj
fiona
pyarrow
rtree
networkx
nxviz
dateparser
dash
dash-bootstrap-components
rtree
pygeos
openpyxl
gunicorn
swifter
seaborn
